<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TO DO LIST</ion-title>
    <ion-buttons [collapse]="true" slot="end">
      <ion-button routerLink="/add-task" color="medium">Add Task</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">TO DO LIST</ion-title>
      <ion-buttons [collapse]="true" slot="end">
        <ion-button routerLink="/add-task">Add Task</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-list [inset]="true">
  <ion-item *ngFor="let task of tasks">
    <ion-checkbox  (click)="showToast(task.id)" [checked]="task.status === 'Completed'" slot="start"></ion-checkbox>
    <ion-label>
      <h2>{{ task.name }}</h2>
      <p>{{ task.description }}</p>
    </ion-label>
  </ion-item>
</ion-list>

<ion-fab slot="fixed" vertical="bottom" horizontal="center">
  <ion-button class="ion-text-wrap" routerLink="/add-task">
    <ion-icon name='add'></ion-icon>
  </ion-button>
</ion-fab>

</ion-content>
